header {
	background-color: white;
	height: 3rem;
	text-align: center;

}

header h1 {
	padding:2rem;
	font-size: 30px;

}
body {
background-color: white;

}
.container {
	max-width:100%;

 }

footer {
	background:#ffab62;

}
/*
.nav {
	background-color: white;
padding-left: 1rem;
}
*/
.nav .button {
	background-color: lemonchiffon;
}
.vernacularName {
	background-color: cornsilk;
	font-weight: lighter;
	font-size: 1rem;
}


.tableImage {
	width:6rem;
}
.listImage {
	max-width: 100%;
	box-sizing: border-box;
}

.listHeader, .listHeader a {
	background-color: black;
	color: white;
	padding:.5rem;
}
.listItem {
	margin-top:4rem;
}
.fileSelect {
	background-color: cornsilk;

}


.selectID:hover {
	background-color: gold;
	cursor:pointer;

}

.selectedID {
	background-color: tomato;
	cursor: pointer;
}


/* Larger than mobile */
@media (min-width: 1000px) {

	.fileUpload {
		height:15rem;
		padding:3rem;
	}

	.listItem {
		background-color: lightgrey;
		border-radius:.5rem;
		box-shadow: .5rem .5rem .5rem grey;


	}

	.listBody {
		padding: 2rem;
	}
	.listImage {
		width: 100%;
		box-sizing: border-box;

	}
}
