header {
	padding-top:4rem;
}

main {
	padding-left: 4rem;
	height:90rem;
}

footer {
	background:#ffab62;
	width:100%;
	height:6rem;
	position:absolute;
	bottom:0;
	left:0;

	padding: 2rem;
}

.vernacularName {
	background-color: cornsilk;
	font-weight: lighter;
	font-size: 1rem;
}

.listItem {
	background-color: lightgrey;
	border-radius:.5rem;
	margin: 2rem;

box-shadow: .5rem .5rem .5rem grey;

}
.listHeader, .listHeader a {
	background-color: black;
	color: white;
	padding:.5rem;
}

.listBody {
	padding:2rem;
}

.listImage {

	max-width: 100%;
	box-sizing: border-box;
}
.fileUpload {
	height:15rem;
	padding:3rem;
}
.fileSelect {
	background-color: cornsilk;

}
